{% extends "base.html" %}
{% block content %}
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Active</th>
        <th>Default</th>
        <th>URL</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        {% for interface in interface_list %}
        <tr style="cursor:pointer" onclick="toEditor('{{url_for('manager.interface_editor', interface_id=interface.id)}}')">
        <td>{{ interface.id }}</td>
        <td>{{ interface.name }}</td>
        <td>{{ interface.active }}</td>
        <td>{{ interface.default }}</td>
        <td>{% if interface.url|length >45 %}{{interface.url[:40]}}...{% else %}{{interface.url}}{% endif %}</td>
        <td><a class="btn btn-default" onclick="test(event, '{{url_for('manager.delete_interface', id=interface.id)}}')">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div style="position: fixed; bottom: 20px; right: 20px">
    <a href="{{url_for('manager.interface_editor')}}" class="btn btn-primary">NEW Interface</a>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function toEditor(url) {
        location.href = url;
    }
    function test(evt, url) {
        $.get(url);
        location.reload();
        if (window.event) //for IE
            window.event.cancelBubble = true;
        else //for Firefox
            evt.stopPropagation();
    }
</script>
{% endblock %}
