{% extends "base.html" %}
{% set path='login' %}
{% block content %}
    <form method="POST">
        <h3>Interface editor</h3>
        {{form.id}}
        {{form.name(class_='form-control', placeholder='InterfaceName', required=True, autofocus=True)}}
        {{form.url(class_='form-control', placeholder='InterfaceUrl', required=True, autofocus=True)}}
        {{form.mock_prefix(class_='form-control', placeholder='Mock Path Prefix', autofocus=True)}}
        {{form.query_string(class_='form-control', placeholder='Query string', autofocus=True)}}
        <div class="checkbox">
            <label>{{form.default}}{{form.default.label}}</label>
            <br>
            <label>{{form.active}}{{form.active.label}}</label>
        </div>
        {{form.body(class_='form-control', placeholder='Json response', rows=30, required=True, autofocus=True)}}
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </div>
    </form>
{% endblock %}